.c-img {
  height: 650px;
  object-fit: cover;
}

body {
  background-color: #cddfbf;
}
.bg-primary {
  background-color: #cddfbf !important;
}

.bg-footer {
  background-color: #171717 !important;
}
