* {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.c-img {
  height: 650px;
  object-fit: cover;
}

body {
  background-color: #cddfbf;
}
.bg-primary {
  background-color: #cddfbf !important;
}

.bg-footer {
  background-color: #171717 !important;
}

.italic-font {
  font-style: italic;
}

.s-header-font {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
