* {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.logo {
  width: 100px;
  height: 100px;
}

.c-img {
  height: 650px;
  object-fit: cover;
}

body {
  background-color: #cddfbf;
}
.bg-primary {
  background-color: #cddfbf !important;
}

.bg-footer {
  background-color: #171717 !important;
}

.italic-font {
  font-style: italic;
}

.s-header-font {
  font-family: "Space Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.nav-header-font {
  font-family: "Space Mono", monospace;
  font-weight: 800;
  font-style: normal;
}

.food-img {
  width: 100%;
  object-fit: fill;
}
